{{ if .Site.Params.baiduAnalytics }}
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{.Site.Params.baiduAnalytics}}";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
{{ end }}
{{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />

<script>
    $(document).ready(function() {
        $('a[name="multi-lang-toggle"]').on('click', function(event) {
            var language = $(this).attr('lang');
            var codeDiv = $(this).closest('.highlight');
            var preNodes = codeDiv.find('pre');
            preNodes.each(function(index, preNode) {
                if ($(preNode).attr("name").toLowerCase().indexOf(language.toLowerCase()) !== -1) {
                    preNode.style.display = 'block';
                } else {
                    preNode.style.display = 'none';
                }
            });
            var alist = codeDiv.find('a[name="multi-lang-toggle"]');
            alist.each(function(index, aNode) {
                if ($(aNode).attr('lang').toLowerCase() === language.toLowerCase()) {
                    aNode.style.fontWeight = 'bold';
                } else {
                    aNode.style.fontWeight = 'normal';
                }
            });
        })
        $(this).find('pre[name^="group-lang-code-"]').each(function(index, preNode) {
            if (preNode.style.display !== 'none') {
                var language = $(preNode).attr("name").replace('group-lang-code-', '');
                var alist = $(this).closest('.highlight').find('a[name="multi-lang-toggle"]');
                alist.each(function(index, aNode) {
                    if ($(aNode).attr('lang').toLowerCase() === language.toLowerCase()) {
                        aNode.style.fontWeight = 'bold';
                    } else {
                        aNode.style.fontWeight = 'normal';
                    }
                });
            }
        });
    });
</script>
    