/*

Add styles or override variables from the theme here.

*/

table {
    width: 100% !important;
    border-collapse: collapse !important; /* 合并边框，消除边框间隙 */
}

th, td {
    border: 1px solid #000 !important; /* 确保所有单元格都有边框 */
    padding: 12px !important; /* 设置内边距 */
    text-align: left !important ; /* 文本左对齐，可根据需求更改 */
}

th {
    font-weight: bold !important; /* 加粗表头文本 */
}